<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks-SwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacLandmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>676054B22C088938002CAA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676054C22C08893E002CAA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676054CC2C08893E002CAA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6772C16F2C5A3F2D0026A985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EAAB212C58AB67002B3116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
